﻿@model WebApplication3.Models.Users
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../Content/css/font-awesome.min.css" rel="stylesheet">
<link href="../Content/css/prettyPhoto.css" rel="stylesheet">
<link href="../Content/css/price-range.css" rel="stylesheet">
<link href="../Content/css/animate.css" rel="stylesheet">
<link href="../Content/css/main.css" rel="stylesheet">
<link href="../Content/css/responsive.css" rel="stylesheet">





<section id="form">
    <!--form-->

    <div class="col-sm-1">
        <h2 class="or">GirişYap</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>

                <p style="color:red">@ViewBag.Mesaj</p>

                    @using (Html.BeginForm())
                    {
                        <form action="#" method="post">                

                            @Html.TextBoxFor(x => x.UserEMail, new { @class = "form-control", placeholder = "EMail", aria_describedby = "txtname" })
                            @Html.PasswordFor(x => x.UserPassword, new { @class = "form-control", placeholder = "Password", aria_describedby = "txtname" })

                            <button type="submit" class="btn btn-default">Signup</button>
                      

                        </form>
                    }
                </div><!--/login form-->
            </div>

        </div>
    </div>

</section><!--/form-->
