﻿@model WebApplication3.Models.Users

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../Content/css/font-awesome.min.css" rel="stylesheet">
<link href="../Content/css/prettyPhoto.css" rel="stylesheet">
<link href="../Content/css/price-range.css" rel="stylesheet">
<link href="../Content/css/animate.css" rel="stylesheet">
<link href="../Content/css/main.css" rel="stylesheet">
<link href="../Content/css/responsive.css" rel="stylesheet">






<section id="form">
    <!--form-->



    <div class="container">
        <div class="row">
         
            <div class="col-sm-1">
                <h2 class="or">ÜyeOl</h2>
            </div>
            <div class="col-sm-6">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>

                    @using (Html.BeginForm())
                    {
                        <form action="#" method="post">

                            @*<input type="text" placeholder="Name" />
                                <input type="text" placeholder="Surname" />
                                <input type="email" placeholder="Email Address" />
                                <input type="password" placeholder="Password" />*@

                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "Name", aria_describedby = "txtname" })
                            @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control", placeholder = "Surname", aria_describedby = "txtname" })
                            @Html.TextBoxFor(x => x.UserEMail, new { @class = "form-control", placeholder = "EMail", aria_describedby = "txtname" })
                            @Html.PasswordFor(x => x.UserPassword, new { @class = "form-control", placeholder = "Password", aria_describedby = "txtname" })

                            <button type="submit" class="btn btn-default">Signup</button>

                            @if (ViewBag.Mesaj == "true")
                            {
                                <p style="color:green"> Kayıt Başarılı..</p>
                            }
                            else if (ViewBag.Mesaj == "false")
                            {
                                <p style="color:red"> Kayıt Başarısız..</p>
                            }

                        </form>
                    }

                    @*@foreach (var user in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => x.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.UserSurname)
                            </td>
                            <td>
                                @Html.DisplayFor(x => x.UserEMail)
                            </td>

                        </tr>
                        }*@
                </div><!--/sign up form-->
            </div>
        </div>
    </div>

</section><!--/form-->
