﻿
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../Content/css/font-awesome.min.css" rel="stylesheet">
<link href="../Content/css/prettyPhoto.css" rel="stylesheet">
<link href="../Content/css/price-range.css" rel="stylesheet">
<link href="../Content/css/animate.css" rel="stylesheet">
<link href="../Content/css/main.css" rel="stylesheet">
<link href="../Content/css/responsive.css" rel="stylesheet">

<div class="container">
    <div class="row">

        <div class="col-md-4">
            @if (User.IsInRole("User"))
            {
                <h1 style="color:green"><i> Hoşgeldin @HttpContext.Current.User.Identity.Name</i></h1>
            }
        </div>
        <div class="col-md-4">
            @if (User.IsInRole("User"))
            {
                @Html.ActionLink("Düzenle", "Update", "Admin", new { userid = user.Id }, new { @class = "btn btn-warning btn-xs" })
            }
        </div>

    </div>
</div>
