﻿@model WebApplication3.Models.Users
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../Content/css/font-awesome.min.css" rel="stylesheet">
<link href="../Content/css/prettyPhoto.css" rel="stylesheet">
<link href="../Content/css/price-range.css" rel="stylesheet">
<link href="../Content/css/animate.css" rel="stylesheet">
<link href="../Content/css/main.css" rel="stylesheet">
<link href="../Content/css/responsive.css" rel="stylesheet">


<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

            <h2>Delete</h2>
            <p>Aşağıdaki kişiyi silmek istediğinize enin misiniz ?</p>

            <table>
                <tr>
                    <td><b>Name : </b></td>
                    <td>@Model.UserName</td>

                </tr>
                <tr>
                    <td><b>Surname : </b></td>
                    <td>@Model.UserSurname</td>

                </tr>
                <tr>
                    <td><b>E-Mail : </b></td>
                    <td>@Model.UserEMail</td>

                </tr>
            </table>
            <br />
            @using (Html.BeginForm())
            {
                <form action="#">
                    <div class="input-group">
                        <input type="submit" value="Delete" class="btn btn-success" />
                    </div>
                    <br />

                    @if (ViewBag.Mesaj == "true")
                    {
                        <p style="color:green"> Silme Başarılı..</p>
                    }

                    else if (ViewBag.Mesaj == "false")
                    {
                        <p style="color:red"> Silme Başarısız..</p>
                    }
                </form>
            }
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

