﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../Content/css/font-awesome.min.css" rel="stylesheet">
<link href="../Content/css/prettyPhoto.css" rel="stylesheet">
<link href="../Content/css/price-range.css" rel="stylesheet">
<link href="../Content/css/animate.css" rel="stylesheet">
<link href="../Content/css/main.css" rel="stylesheet">
<link href="../Content/css/responsive.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Menü</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">@Html.ActionLink("Admin", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Slider", "Slider", "Admin")</li>
                        <li>@Html.ActionLink("Müşteriler", "Musteriler", "Admin")</li>       <br /><br />
                        <li>@Html.ActionLink("Çıkış Yap", "LogOut", "Uye")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Admin Duyuru</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.ASP.NET MVC gives you a powerful
                            ASP.NET MVC gives you a powerfu
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
