﻿@using WebApplication3.Models
@model List<Users>
@{
    ViewBag.Title = "Musteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../Content/css/font-awesome.min.css" rel="stylesheet">
<link href="../Content/css/prettyPhoto.css" rel="stylesheet">
<link href="../Content/css/price-range.css" rel="stylesheet">
<link href="../Content/css/animate.css" rel="stylesheet">
<link href="../Content/css/main.css" rel="stylesheet">
<link href="../Content/css/responsive.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            NAME
        </div>

        <div class="col-md-3">
            SURNAME
        </div>

        <div class="col-md-3">
            E-MAİL
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
    <hr />
    <div class="row">

        @foreach (var user in Model)
        {
            <div class="col-md-3">

                @user.UserName
            </div>

            <div class="col-md-3">

                @user.UserSurname
            </div>

            <div class="col-md-3">

                @user.UserEMail
                
            </div>
            <div class="col-md-3">

                @Html.ActionLink("Düzenle", "Update", "Admin", new { userid = user.Id }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Sil", "Delete", "Admin", new { userid = user.Id }, new { @class = "btn btn-danger btn-xs" })
            </div>
        }

    </div>
</div>


