﻿@model WebApplication3.Models.Users
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="../Content/css/bootstrap.min.css" rel="stylesheet">
<link href="../Content/css/font-awesome.min.css" rel="stylesheet">
<link href="../Content/css/prettyPhoto.css" rel="stylesheet">
<link href="../Content/css/price-range.css" rel="stylesheet">
<link href="../Content/css/animate.css" rel="stylesheet">
<link href="../Content/css/main.css" rel="stylesheet">
<link href="../Content/css/responsive.css" rel="stylesheet">

<div class="container">
    <div class="row">


        <div class="col-sm-6">
            <div class="signup-form">
                <!--sign up form-->
                <h2>New User Signup!</h2>

                @using (Html.BeginForm())
                {
                <form action="#" method="post">


                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "Name", aria_describedby = "txtname" })
                    @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control", placeholder = "Surname", aria_describedby = "txtname" })
                    @Html.TextBoxFor(x => x.UserEMail, new { @class = "form-control", placeholder = "EMail", aria_describedby = "txtname" })
                    @Html.PasswordFor(x => x.UserPassword, new { @class = "form-control", placeholder = "Password", aria_describedby = "txtname" })

                    <button type="submit" class="btn btn-default">Update</button>

                    @if (ViewBag.Mesaj == "true")
                    {
                        <p style="color:green"> Güncelleme Başarılı..</p>
                    }
                    else if (ViewBag.Mesaj == "false")
                    {
                        <p style="color:red"> Güncelleme Başarısız..</p>
                    }

                </form>
                }

            </div><!--/sign up form-->
        </div>
    </div>
</div>